In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:
df = pd.read_csv('weather_to_sort.csv')

In [3]:
df.drop(labels='Unnamed: 0', axis=1, inplace=True)

In [4]:
cols = df.columns.tolist()

In [5]:
cols = ['cityname',
 'coordinates',
 'temperature_j1',
 'precipitation_j1',
 'weathercode_j1',
 'temperature_j2',
 'precipitation_j2',
 'weathercode_j2',
 'temperature_j3',
 'precipitation_j3',
 'weathercode_j3',
 'temperature_j4',
 'precipitation_j4',
 'weathercode_j4',
 'temperature_j5',
 'precipitation_j5',
 'weathercode_j5',
 'temperature_j6',
 'precipitation_j6',
 'weathercode_j6',
 'temperature_j7',
 'precipitation_j7',
 'weathercode_j7',
 ]

In [6]:
df = df[cols]

In [7]:
df.shape

(35, 23)

In [8]:
df.head(5)

,cityname,coordinates,temperature_j1,precipitation_j1,weathercode_j1,temperature_j2,precipitation_j2,weathercode_j2,temperature_j3,precipitation_j3,weathercode_j3,temperature_j4,precipitation_j4,weathercode_j4,temperature_j5,precipitation_j5,weathercode_j5,temperature_j6,precipitation_j6,weathercode_j6,temperature_j7,precipitation_j7,weathercode_j7
0,Mont+Saint+Michel,"('48.6359541', '-1.511459954959514')",14.8,0.0,3,15.5,0.0,3,11.8,0.3,61,9.8,0.0,2,9.0,0.0,2,11.6,0.0,3,11.0,0.0,3
1,St+Malo,"('48.649518', '-2.0260409')",14.9,0.0,3,15.6,0.0,3,11.4,0.7,53,9.9,0.0,2,9.9,0.0,3,12.2,0.0,3,11.3,0.0,3
2,Bayeux,"('49.2764624', '-0.7024738')",14.6,0.0,3,16.0,0.0,3,12.7,0.0,3,9.5,0.0,2,9.3,0.0,2,11.7,0.0,3,11.3,0.0,3
3,Le+Havre,"('49.4938975', '0.1079732')",12.6,0.0,3,15.1,0.0,3,12.1,0.0,3,9.5,0.0,2,9.0,0.0,0,10.4,0.0,3,11.4,0.0,3
4,Rouen,"('49.4404591', '1.0939658')",12.2,1.1,61,15.4,0.0,3,12.5,0.0,3,10.0,0.0,2,7.9,0.0,3,9.2,0.0,3,11.0,0.0,3

In [11]:
df['mean_temp'] = df.iloc[:,2::3].mean(axis=1)
df['sum_precipitation'] = df.iloc[:,3::3].sum(axis=1)
df['top_weather_code'] = df.iloc[:, 4::3].max(axis=1)

In [12]:
df.head()

,cityname,coordinates,temperature_j1,precipitation_j1,weathercode_j1,temperature_j2,precipitation_j2,weathercode_j2,temperature_j3,precipitation_j3,weathercode_j3,temperature_j4,precipitation_j4,weathercode_j4,temperature_j5,precipitation_j5,weathercode_j5,temperature_j6,precipitation_j6,weathercode_j6,temperature_j7,precipitation_j7,weathercode_j7,mean_temp,sum_precipitation,top_weather_code
0,Mont+Saint+Michel,"('48.6359541', '-1.511459954959514')",14.8,0.0,3,15.5,0.0,3,11.8,0.3,61,9.8,0.0,2,9.0,0.0,2,11.6,0.0,3,11.0,0.0,3,11.928571,0.3,61
1,St+Malo,"('48.649518', '-2.0260409')",14.9,0.0,3,15.6,0.0,3,11.4,0.7,53,9.9,0.0,2,9.9,0.0,3,12.2,0.0,3,11.3,0.0,3,12.171429,0.7,53
2,Bayeux,"('49.2764624', '-0.7024738')",14.6,0.0,3,16.0,0.0,3,12.7,0.0,3,9.5,0.0,2,9.3,0.0,2,11.7,0.0,3,11.3,0.0,3,12.157143,0.0,3
3,Le+Havre,"('49.4938975', '0.1079732')",12.6,0.0,3,15.1,0.0,3,12.1,0.0,3,9.5,0.0,2,9.0,0.0,0,10.4,0.0,3,11.4,0.0,3,11.442857,0.0,3
4,Rouen,"('49.4404591', '1.0939658')",12.2,1.1,61,15.4,0.0,3,12.5,0.0,3,10.0,0.0,2,7.9,0.0,3,9.2,0.0,3,11.0,0.0,3,11.171429,1.1,61

In [13]:
df.columns

Index(['cityname', 'coordinates', 'temperature_j1', 'precipitation_j1',
       'weathercode_j1', 'temperature_j2', 'precipitation_j2',
       'weathercode_j2', 'temperature_j3', 'precipitation_j3',
       'weathercode_j3', 'temperature_j4', 'precipitation_j4',
       'weathercode_j4', 'temperature_j5', 'precipitation_j5',
       'weathercode_j5', 'temperature_j6', 'precipitation_j6',
       'weathercode_j6', 'temperature_j7', 'precipitation_j7',
       'weathercode_j7', 'mean_temp', 'sum_precipitation', 'top_weather_code'],
      dtype='object')

In [16]:
df_sorted = df.sort_values(['mean_temp','sum_precipitation','top_weather_code'], ascending=[False, True, True])

In [19]:
df_sorted.head(5)

,cityname,coordinates,temperature_j1,precipitation_j1,weathercode_j1,temperature_j2,precipitation_j2,weathercode_j2,temperature_j3,precipitation_j3,weathercode_j3,temperature_j4,precipitation_j4,weathercode_j4,temperature_j5,precipitation_j5,weathercode_j5,temperature_j6,precipitation_j6,weathercode_j6,temperature_j7,precipitation_j7,weathercode_j7,mean_temp,sum_precipitation,top_weather_code
33,Bayonne,"('43.4945144', '-1.4736657')",20.3,0.0,3,18.8,0.0,1,20.9,0.0,2,13.3,0.0,3,12.6,0.0,1,13.3,0.0,0,4.2,0.0,2,14.771429,0.0,3
19,Cassis,"('43.2140359', '5.5396318')",15.3,0.0,3,16.3,0.0,3,15.3,0.0,3,15.5,0.0,3,14.7,0.0,0,14.4,0.0,0,11.7,0.0,1,14.742857,0.0,3
32,Biarritz,"('43.471143749999996', '-1.552726590666314')",20.0,0.0,2,17.8,0.0,0,19.7,0.0,2,13.3,0.0,3,12.7,0.0,1,12.9,0.0,0,3.7,0.0,2,14.300000,0.0,3
20,Marseille,"('43.2961743', '5.3699525')",16.2,0.0,3,17.4,0.0,1,15.3,0.0,3,15.5,0.0,3,14.7,0.0,0,12.1,0.0,0,8.8,0.0,2,14.285714,0.0,3
21,Aix+en+Provence,"('43.5298424', '5.4474738')",13.6,0.0,3,16.1,0.0,1,16.5,0.0,3,15.1,0.0,3,14.0,0.0,2,12.7,0.0,0,7.1,0.0,2,13.585714,0.0,3